<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 -->
<div class='main-content'>

    <!-- https://github.com/maurizzzio/function-plot -->
   <decay-form></decay-form>

   <decay-plot></decay-plot>
   <p class='plot-info-text'>At the point of a line change, comment health diverges (due to 1/r decay dependence). Comment health is restored to 100 at the point of a change <br/>This is somewhat smoothed out on the plot.</p>


 </div>

  <script>


</script>